<div class='candidate-new'>
  <div class='container'>
    <div class='row'>
    <br>
    <div class='col-sm-6'>
      <h1>
        Register to connect with other developers and browse thousands of tech jobs.
      </h1>
    </div>
    <div class='col-sm-6'>
      <h2>Unlock Your Free Account</h2>
      <%= render 'form' %>
    </div>
    

    </div>
  </div>
</div>
