<div class='container'>
  <div class='row user_main'>
<br><br>
  <h2><%= @candidate.name %></h2>
  <h4><%= @candidate.email_address %></h4>
</div>
</div>

<% if current_candidate?(@candidate) %>
<%= link_to "Edit", edit_candidate_path(@candidate) %> | 
<% end %>
<% if current_candidate_admin? %>
<%= link_to 'Delete Account', candidate_path(@candidate), method: :delete, data: {confirm: "Are You Sure?"} %>
<% end %>