<div class='companies'>
  <div class='jumbotron'>
    <div class='companies-h1'>
      <h1>Search for company</h1>
    </div>
    <div class='page-search-form'>
        <%= form_tag search_companies_path, class: "navbar-form", method: :get do %>  
           <%= text_field_tag :search, params[:search], placeholder: "Search for your next career jobs...", class: "form-control" %>
            <%= submit_tag 'Search', name: nil, class: "btn btn-success btn-lg" %>
        <% end %>
      </div>     
  </div>
</div>
<div class='companies-top'>
  <div class='jumbotron'>
    <div class='container'>
      <div class='row text-left'>
        <h2 class='text-center'>Companies Reviews and Interview tips</h2>
        <div class='col-sm-4'>
          <div class='row'>
            <div class='col-xs-2'>
              <i class='fa fa-users fa-2x'style='color:#fd7700;'></i>
            </div>
            <div class='col-xs-10'>
              <h4>Read from the horses</h4>
              <p>Read what past and present employees has to say about any company</p>
            </div>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class='row'>
            <div class='col-xs-2'>
              <i class='fa fa-briefcase fa-2x', style='color:gray;'></i>
            </div>
            <div class='col-xs-10'>
              <h4>Read Reviews from Employees</h4>
              <p>See what real employees have to say about any company</p>
            </div>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class='row'>
            <div class='col-xs-2'>
              <i class='fa fa-briefcase fa-2x ', style='color:#5cb85c;'></i>
            </div>
            <div class='col-xs-10'>
              <h4>Read Reviews from Employees</h4>
              <p>See what real employees have to say about any company</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='companies-middle'>
  <div class='jumbotron'>
    <div class='container'>
    <div class='row'>
      <div class='col-sm-1'></div>
      <div class='col-sm-10'>
        <h2 class='text-center'>Featured Companies</h2>
        <%# @companies.in_groups_of(3) do |group| %>
          <div class='row'>
            <%# group.each do |company| %>
                <div class='col-sm-4 col-xs-12'>
                  <div class='row'>
                    <div class='col-sm-12 col-xs-12 companylogo'>
                      <%#= image_tag company.logo_url if company.logo_url %>
                      <h4><%#= link_to company.name, company %></h4>
                      <div class='review-rating'>
                        <%#= "#{company.reviews.length} Reviews" %> 
                      </div>
                     
                    </div>
                  </div>
                </div>
              <%# end %>
            </div>
        <%# end %>
        <%#= will_paginate @companies, renderer: BootstrapPagination::Rails %>
          
      </div>
      <div class='col-sm-1 hidden-xs'></div>
    </div>
  </div>
  </div>
</div>
<!-- <div class='companies-bottom'>
  <div class='jumbotron'>
  </div>
</div> -->

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/foodplace/uploads/stars',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>