<div class='container'>
  <div class='row'>
    <div class='col-sm-9'>
      <% @companies.each do |company| %>
        <h2><%= link_to company.name, company %></h2>
        <p><%= truncate(company.about, lenght: 100, seperate: "") %></p>
      <% end %>
    </div>
    <div class='col-sm-3 hidden-xs'></div>
  </div>
</div>