<div class='container'>
  <div class='row company-new'>
    <div class='col-sm-9 well'>
      <%= render "form" %>
    </div>
    <div class='col-sm-3 hidden-xs'>
      No matter how tight the deadline for a particular project, it seems that someone on your team will always find a way to procrastinate.

Procrastination is often misinterpreted as laziness, but theorists think it has a number of internal causes, including exhaustion and being overwhelmed by the environment. Tasks that are too difficult, or even too easy, can also grind someone’s productivity to a cold halt.
    </div>
  </div>
</div>