<div class='employers'>
	<div class='jumbotron'>
		<div class='container'>
			<div class='row'>
				<div class="col-sm-3"></div>
				
				<div class="col-sm-6 text-center">
				<h1><%= link_to "Basic Plan", register_path(plan: @basic_plan.name), class: 'btn btn-warning btn-lg text-uppercase' %>
					<%= link_to "Pro Plan", register_path(plan: @pro_plan.name), class: 'btn btn-success btn-lg text-uppercase' %></h1>
				</div>
				<div class="col-sm-3">
					
				</div>
			</div>
		</div>
	</div>
</div>