<div class="employer-new">
	<div class='container'>
		<div class='row'><br>
			<div class='col-sm-6 employer-text'>
				<h1>Hire your next great developer</h1>
				<p>Find the right one from thousands of designers and developers on JobInbox who are ready for new opportunities. Connect and post your tech job in less than 5 minutes for free.</p>
			</div>
			<div class='col-sm-6 employer-form'>
				<h2>Unlock Your Free Employer Account</h2>
				    <%= render 'form' %>
				    
				<!-- <%# if params[:plan] == "2" %>
					<h2>Register for a Pro Account</h2>
				    <%#= render 'pro_form' %>
				<%# else %> 
					<h2>Register for a basic Account</h2>
				    <%#= render 'basic_form' %>
				<%# end %> -->
			</div>

		</div>
	</div>
</div>
