// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  //font-family: JobInboxFont8, Arial, sans-serif;
  font-family: 'Enriqueta', serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #666666; 
}
.stars-rating, img {
  display: inline;
  max-width: 100%;
  height: 40px;
}
h1, h2, h3, th {
  //font-family: JobInboxFont8, Arial, sans-serif;
  font-family: 'Enriqueta', serif;
  font-weight: 900;
  
}
h1 {
  font-size: 45px;
  line-height: 50px;
  color: #333;
}
h2 {
  margin-bottom: 12px;
  font-size: 25px;
}
p{
  font-size: 14px;
}
.body{
  background-color: #fff;
  font-family: 'Enriqueta', serif;
  //font-family: JobInboxFont8, Arial, sans-serif;
  font-size: 15px;
  color: #333;
  // margin:0;
  // padding:0;
  // width: 100%;
  // min-height: 100%;
  // position: relative;
  // left: 0;
  // right: 0;
  // height: auto !important;
  // height: 100%;
  // padding-bottom: 50px;
  //font-family: Menlo,Monaco, Consolas, "Courier New", monospace;
  a{
    color: #333;
    font-size: 15px;
  }
}
main{
  margin-top: 120px;
  width: 100%;
  min-height:100%;
  position:relative;
  left: 0;
  right: 0;
  height: auto !important;
  height: 100%;

}

//---------------header----------------------------

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
  background-color: #fd7700;
  font-family: JobInboxFont8, Arial, sans-serif;
  .logo img{
    width: 250px;
    height: 60px;
    padding-top: 10px;
    margin-left: -20px;
  }
  a:hover{
    background: none;
    
  }
  span{
    color: #15A3B3;
    font-size: 1.7em;
    font-weight: bolder;
  }
  .btn{
    padding: 10px;
    margin-top: 12px;
    color: #fff;
    font-weight: 900;
  }
  .btn-default{
    color: #fd7700;
  }
}

.header .btn-default:hover {
  color: green;

}
.header .btn:hover{
  border: 1px solid orange;
}

.navbar{
  margin-top: 70px;
  font-family: JobInboxFont8, Arial, sans-serif;
}

.navbar-inverse .navbar-toggle {
  border-color: #fd7700;
  background: #fd7700;
  font-family: 'Enriqueta', serif;
  // margin-top: 12px;
  //font-family: JobInboxFont8, Arial, sans-serif;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 6px;
  padding: 9px 10px;
  margin-top: 19px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-inverse .navbar-toggle:hover {
  border-color: green;
  background: green;
}
.navbar-inverse .navbar-toggle:active {
  border-color: #fd7700;
  background: #fd7700;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #fd7700;
  color: #fff;
  font-family: JobInboxFont8, Arial, sans-serif;
}
.navbar-inverse .navbar-brand {
  color: #fd7700;
}
.navbar-inverse {
  background-color: #fff;
  border-color: #ddd;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #ddd;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fd7700;
  font-weight: 900;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #4cae4c;
}
.navbar-inverse .navbar-brand:hover {
  color: #4cae4c;
}
.nav-search-form{
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 35px;
}
  .btn{
    width: auto;
    margin-left: -6px;
    height: 35px;
  }
}

//-------------- Candidate Styles-------------------------------------//
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: #fd7700;
	border-color: #fd7700;
}
// img{
// 	width: 100%;
// }
.image_menu{
	width: 20px;
	height: 20px;
}
.image_edit_profile{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    //background-color: #fff;
    //border: 1px solid #fff;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #fd7700;
    font-size: 18px;
}
.right-nav-job{
  background-color: #5cb85c;
  color: #fff;
  
  // background: -webkit-linear-gradient(90deg, #52c234 10%, #061700 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(90deg, #52c234 10%, #061700 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(90deg, #52c234 10%, #061700 90%); /* IE10 */
  // background:      -o-linear-gradient(90deg, #52c234 10%, #061700 90%); /* Opera 11.10+ */
  // background:         linear-gradient(90deg, #52c234 10%, #061700 90%); /* W3C */
 }       
h2 > a:hover, footer .bottom a:hover, .employer-head a:hover{
  background: none;
  //text-decoration: none;
}
.employer-head a:hover{
  color:#fd7700;
}
.candidate-main-show{
  width: 100%;
  margin: 0;
  padding: 0;
  .candidate-content{
    margin-top: 20px;
    .well{
      background-color: #f1f2f4;
    }
  }
}
.candidate-show{
  .fa{
    padding-right: 10px;
    color: green;
    font-size: 13px;
  }
}

select{
    
    font-size: 30px;
    line-height: inherit;
    height: 50px;
  }
  .profile-education{
    margin-top: 30px;
    .well{
      background-color: #fd7700;
      h2{
        font-weight: 900;
        span{
          color: red;
        }
      p{
        margin-top: -40px;
        font-size: 10px;
      }
      }
    }
  }
//-----------------Edit Form-----------------------------------//

.edit-works{
  .edit-form{
    margin-top: 5%;
  }
  .well{
    background-color: #F1EAE0; 
  }
  h2{
    margin: 20px auto 30px;
    font-weight: 900;
    font-size: 25px;
  }
}
//-------------------------Pages---------------------------------//
.pages{
  .jumbotron{
    width: 100%;
    height: 500px;
    background-image: url('https://s3.amazonaws.com/inventivelabs/jobinbox/imgs/tech-peep.jpg');
    background-size: cover;
    text-align: center;
    .pages-search{
      width: 70%;
      margin: 3% auto;
      background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgba(75, 134, 104, 0.9) 100%);
      box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
      padding-bottom: 30px;
      padding-top: 30px;
      border-radius: 10px;
      ul{
        width: 40%; 
        margin: auto;       
        .nav-tabs{
          margin: auto;
          text-align: center;
        }
      }
      h1{
        color: #fff;
        font-weight: 900;
        font-size: 45px;
      }
      h2{
        color: #fff;
        font-weight: 900;
        font-size: 25px;
      }
      .navbar-form .form-control {
        display: inline-block;
        width: 75%;
        vertical-align: middle;
        height: 55px;
        
      }
      .btn{
        width: auto;
        margin-left: -6px;
        height: 55px;
      }
      .nav-tabs{
        border-bottom: none;
        text-align: center;
        margin: auto;
      }
      .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        color: #000;
        font-size: 18px;
      }
      ul{
        margin: auto;
      }
      .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #fff;
        //background-color: #fd7700;
        //border: 1px solid #fd7700;
        background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgba(75, 134, 104, 0.9) 100%);
        box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
}
.pages-top{
  width: 100%;
  margin-top: -40px;
  .jumbotron{
    width: 100%;
    height: 100%;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    h1{
      font-size: 40px;
      color: #000;
      margin-bottom: 40px;     
    }
    h2{
      padding-bottom: 60px;  
    }
    .fa{
      margin: auto;
      color: #5cb85c;
       
    }
  }
}
.pages-middle{
  width: 100%;
  margin-top: -40px;
  .jumbotron{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    background: #eaeaea;
    h1{
      font-size: 40px;
      color: #000;
      padding-top: 20px;
      padding-bottom: 20px; 
    }
    p{
      font-size: 16px;
      color: #333;     
    }
  }
}
.pages-bottom{
  width: 100%;
  .jumbotron{
    width: 100%;
    height: 400px;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    h1{
      font-size: 40px;
      color: #000;
      padding-top: 20px;
      margin-bottom: 60px;     
    }
    .fa{
      margin: auto;
      color: green;
       
    }
  }
}
//--------------------Candidates----------------------------//
.candidate-show{
  margin-top: 30px;
  margin-bottom: 30px;
  a:hover{
    background: none;
    color: #333;
  }
  img{
    width: 100%;
  }
}
.candidate-new{
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 70px;
  background-image:url('https://s3.amazonaws.com/foodplace/uploads/job/imgs/works.jpg');
  background-size: cover;
  color: #fff;

  h1{
    font-weight: 900;
    color: #fff;
    margin: 4% auto;
    background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgba(22, 29, 25, 0.9) 100%);
    box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
    padding: 30px;
    padding-bottom: 50px;
    padding-top: 30px;
    border-radius: 10px;
    font-size: 42px;
  }
}
.candidates-top{
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image:url('https://s3.amazonaws.com/foodplace/uploads/job/imgs/works.jpg');
  background-size: cover;
  color: #fff;
}
.candidates-bottom{
  width: 100%;
  .jumbotron{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 70px;
    background: #fff;
    color: #000;
    img{
      width: 100%;
      height: 200px;
      border-radius: 50%;
    }
    .page-search-form .btn {
    }
  } 
}
.btn-warning {
  background: #fd7700;
  color: #fff;
}
.edit-profile{
  padding-top: 40px;
  a:hover{
    background: none;
  }
  .nav-tabs {
    border: none;
    border-top: none;
  }
  .well{
    background-color: #fff;
  }
  .educations-profile{
    .well{
      background-color: #ddd;
    }
  }
  .works-profile{
    .well{
      background-color: #5cb85c;
    }
  }
  .profile-education{
    .well{
      background-color: #ddd;
    }
  }
  .education-content{
    .well{
      background-color: #5cb85c;
      a:hover{
        background: none;
      }
    } 
  }
}
.edit-candidates{
  margin-top: 20px;
  img{
    margin-top: 20px;
    border-radius: 50%;
  }
}
.edit-form{
  .well{
    background-color: #eaeaea;
  }
}
//--------------------Employers----------------------------//

.employers{
  .jumbotron{
    width: 100%;
    height: 500px;
    background-color: #ddd;
  }
}
.employer-new{
  width: 100%;
  height: 100%;
  padding: 40px auto;
  //background:#eaeaea;
  background-image:url('https://s3.amazonaws.com/foodplace/uploads/job/imgs/employers.jpg');
  background-size: cover;
  color: #3a903e;
  font-weight: 900;
  .employer-text{
    margin: 4% auto;
    background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgba(75, 134, 104, 0.9) 100%);
    box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    h1{
      font-weight: 900;
      color: #fff;
    }
    p{
      font-weight: 400;
      font-size: 16px;
      color: #fff;
    }
  }
}
.employers-edit{
  padding-bottom: 30px;
  img{
    margin-top: 30px;
    width: 100%;
  }
}
.employers-main{
  h1{
    font-size: 35px;
    margin-bottom: 20px;
  }
  img{
    margin-top: 30px;
  }
  h2{
    margin-bottom: -12px;
    a{
      color: #5cb85c;
    }
  }
  .well{
    background-color: #eaeaea;
  }
}
.employer-jobs{
  h2{
    margin-bottom: 1px;
    a{
      color: #5cb85c;
    }
  }
}
.employer-show{
  width: 100%;
  height: 100%;
  background: #eaeaea;
  color: #000;
  
  bottom: 0;
  padding: 20px;
  img{
    margin-top: 20px;
  }
  .profile-image img{
    border-radius: 50%;
    
  }

}
.employer-main-content{
  background: #fff;
}

.employers-top{
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image:url('https://s3.amazonaws.com/foodplace/uploads/job/imgs/employers.jpg');
  background-size: cover;
  color: #fff;
}
.employers-bottom{
  width: 100%;
  .jumbotron{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 70px;
    background: #fff;
    color: #000;
    img{
      width: 100%;
      height: 200px;
      border-radius: 50%;
    }
    .page-search-form .btn {
    }
  } 
}
.btn-warning {
  background: #fd7700;
  color: #fff;
}

//------------------------JOBS----------------------------//

.jobs-list{
  height: 100%;
  background: #fff;
  margin-top: 0px;
  margin-bottom: 0;
  padding: 60px 20px;
  .well{
    margin-top: 5px;
    background: #fdfeff;
    border: #f1f2f4;
    padding: 15px;

    img{
    float:left;
    width: 80px;
    height: 80px;
    padding-right: 10px;
    }
  }
  .well:hover{
      background: #f1f2f4;
    }  
  
}

.job-form-header{
  width: 100%;
  background: #eaeaea;
  padding: 30px;
  border-bottom: 2px solid #ddd;
}
.jobs-search{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  .jobs-search-form .navbar-form .form-control {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    height: 55px;
    
  }
  .jobs-search-form .btn{
    width: auto;
    margin-left: -6px;
    height: 55px;
  }
}

.navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 55px;
}
.page-search-form{
  width: 80%;
  margin: 40px auto;
  .form-control{
    width: 60%;
  }
  .btn{
    width: auto;
    margin-left: -6px;
    height: 55px;
  }
}
//----------------------session------------------------------//
.login-form{
  margin-top: 10%;
  .well{
    background: #fff;
    .nav-tabs{
      border-bottom: 1px solid #fff;
    }
  }
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #fd7700;
    border-color: #fd7700;
}

//-----------------------companies----------------------------//

.companies{
  .jumbotron{
    width: 100%;
    height: 100%;
    background-image: url('https://s3.amazonaws.com/foodplace/uploads/job/imgs/siliconvv.jpg');
    background-size: cover;
    text-align: center;
    padding-bottom: 40px;
    .companies-h1{
      width: 60%;
      margin: 1% auto;
      background: linear-gradient(200deg, rgba(22, 33, 6, 0) 0%, rgba(54, 154, 165, 0.9) 100%);
      box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
      padding-bottom: 20px;
      padding-top: 20px;
      border-radius: 10px;
      h1{
        color: #fff;
        font-weight: 900;
      }
    }  
  }
}

.companies-top{
  .jumbotron{
    width: 100%;
    height: 100%;
    background: #eaeaea;
    text-align: center;
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 50px; 
    h1{
      //color: #fd7700;
      color: #fff;
      font-weight: 900;
    }
  }
}
.companies-middle{
  .jumbotron{
    width: 100%;
    height: 100%;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px; 
    h1{
      //color: #fd7700;
      color: #fff;
      font-weight: 900;
    }
    p{
      font-size: 14px;
    }
    .search{
      img{
        width: 100%;
        height: 200px;
      }
    }
    .companylogo img{
      float: left;
      width: 90px;
      height: 80px;
      padding-right: 10px;
      padding-bottom: 25px;
    }
    a:hover{
      background: none;
      color: #fd7700;
      text-decoration: none;
    }

  }
}
.companies-bottom{
  .jumbotron{
    width: 100%;
    height: 400px;
    // background-image: url('https://s3.amazonaws.com/foodplace/uploads/job/imgs/siliconvalley.jpg');
    // background-size: cover;
    background: #fff;
    text-align: center;
    h1{
      //color: #fd7700;
      color: #fff;
      font-weight: 900;
    }
  }
}
a:hover{
  background: none;
}
.company-imgbg{
  width: 100%;
  height: 300px;
  img{
  width: 100%;
  height: 300px;
  }
}
.company_logo img{
  margin-top: -60px;
  width: 150px;
  height: 150px;
  float: center;
}

.company-reviewinterview{
  width: 95%;
  margin: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 10px;

  .review-star{
    display: inline-block;
    width: 40%;
    height: 100%;
    padding-top: -10px;
    //border-right: 1px solid #ddd;
    .stars-rating, img {
      display: inline;
      max-width: 40%;
      height: 30px;
    }
  }
  .review-rating{
    display: inline-block;
    width: 30%;
    height: 100%;
    padding: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .interview-rating{
    width: 25%;
    display: inline-block;
    padding: 10px;
    //padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    //border-right: 1px solid #ddd
  }

}

.company-new{
  margin-top: 40px;
  .well{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;

  }
}
.company-content-tab{
  // margin-top: 40px;
  background: #fff;
  margin-left: -14px;
  max-height: 1200px;
  overflow: auto;
  overflow-x:hidden;
  .tab-content{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    p{
    font-size: 16px;
    color: #666666;
  }
  }
  
}
.company-tab{
  margin-top: 10px;
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #fd7700;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
  }
    .btn-success{
      background: #fd7700;
      color: #fff;
    }
    .btn-success:hover{
      background: #fd7700;
      color: #ddd;
    }
}
.company-content-tab-review{
  // margin-top: 40px;
  background: #fff;
  margin-left: -30px;
  padding: 60px 20px 40px;
  max-height: 800px;
  overflow: auto;
  overflow-x:hidden;
  p{
    font-size: 16px;
    color: #666666;
  }
}
.company-main{
  .well{
    width: 100%;
    margin: auto;
    background: #fff;
  }
}
.company-btn .btn-success a{
  color: #fff;
}
.company-btn .btn-success{
  margin-top: 5px;
}
.company-btn .btn-success a:hover{
  background: none;
}
.company-side{
  margin-top: 20px;
  .well{
    background: #fff;
    padding: 10px 10px;
    text-align: center;
    .social-link{
      display: inline;
      
      .fa{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #fff;
        padding-top: 5px;
        margin-left: 5px;
      }
      .fa-2x{
        font-size: 2em;
      }
      .fa-twitter{
        background: #2bb6e9;
      }
      .fa-youtube{
        background: #d9292c;
      }
      .fa-linkedin{
        background: #0079b6;
      }
       .fa-facebook{
        background: #435f9d;
      }
      .fa-instagram{
        background: #004879;
      }
      .fa-google-plus{
        background: #d9292c;
      }
      .fa-pinterest-p{
        background: #c72527;
      }
       .fa-github-alt{
        background: #ddd;
      }
    }
    // .twitter{
    //   margin-left: 5px;
    //   margin-right: 5px;
    // }
    // .linkedin{
    //   margin-left: 5px;
    //   margin-right: 5px;
    // }
  }
}
.review-form{
  display: none;
}
.show-review{
  display: none;
}
select{
  height: 80px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.interview-form .well{
  //width: 100%;
  margin: 10px auto;
  background: #fbfbfb;
}
.interview-new .well{
  //width: 100%;
  margin-top: 20px;
  
}

//----------------------footer-------------------------------//
footer{
  width: 100%;
  margin-bottom: 0;
  clear: both;
  bottom: 0;
  left: 0;
  border-top: 2px solid #ddd;
  //font-family: JobInboxFont7, Arial, sans-serif;
  font-family: 'Enriqueta', serif;
  .footer{
    //font-family: JobInboxFont7, Arial, sans-serif;
    padding: 50px auto;
    color: #333;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 15px;
    background: #eaeaea;
    h2{
      color: #fd7700;
    }
    a{
      color: #333;
      font-size: 15px;
    }
    a:hover{
      color: #5cb85c;
      background: none;
    }
    .fa{
      color: #fd7700;
    }
  }
  .bottom{
    //font-family: JobInboxFont7, Arial, sans-serif;
    color: #afafaf;
    bottom: 0;
    padding: 20px;
    background: #333;
    img{
      width: 200px;
      height: 60px;
    }
    p{
      font-size: 14px;
      a{
        color: #fd7700;
      }
      .fa{
        color: #fd7700;
      }
    }
    .social-link{
      display: inline;
      
      .fa{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #000;
        padding: 7px;
        background: #000;
      }
      .fa:hover{
        background: #ddd;
      }
      .fa-twitter{
        color: #2bb6e9;
      }
      .fa-youtube{
        color: #d9292c;
      }
      .fa-linkedin{
        color: #0079b6;
      }
       .fa-facebook{
        color: #435f9d;
      }
    }
    .twitter{
      margin-left: 5px;
      margin-right: 5px;
    }
    .linkedin{
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}



//---------------------will_paginate_bootstrap-----------//
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #fd7700;
    border-color: #fd7700;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #fd7700;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    float: left;
}

//------------------will_paginate........................
.paginate-display{
  display: none;
}
.digg_pagination {
  background: white;
  cursor: default;
  text-align: center;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: inline;
    //float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #fff; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #ddd;
    color: #999999;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #fd7700;
    border: 1px solid #fd7700; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #fd7700;
      border-color: #fd7700; }
  .digg_pagination .page_info {
    background: #ddd;
    color: #fd7700;
    padding: 0.4em 0.6em;
    width: 22em;
    margin: auto;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #fff;
      background: #fd7700;
      padding: 0.2em 0.6em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

//---------------------error_message-------------------------
.error_message{
  margin: auto;
  
  h3{
    font-size: 30px;
    color: #fd7700;
  }
  h4{
    font-size: 25px;
    color: #449d44;
  }
  ul li{
    list-style-type: decimal;
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: 400;
  }
}
//--------------Contact--------------------//

.contact-map{
  width: 100%;
  background-color: #eaeaea;
  text-align: center;
  #map iframe { 
    width: 100%; 
    height: 480px;
    margin: auto;
    padding-top: 1%;
    //padding-bottom: 20px;  
  }
}
.contact-main-top{
  font-family: 'Enriqueta', serif;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #fff;
  h2{
    font-weight: 900;
  }
  .office{
    margin-top: 40px; 
  }
  .panel-heading{
    background-color: #fff;
    text-align: center;
    color: #333;
  }
  .btn{
    background: #5cb85c;
    border: #5cb85c;
  }
  .address-contact{
    margin-top: 80px;
    margin-left: 40px;
    a{
        color: #333;
    }
    a:hover{
      background: none;
      color: #5cb85c;
    }
    .fa{
      color: #5cb85c;
    }
    .social-link{
      display: inline;
      
      .fa{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #ddd;
        padding: 7px;
        background: #ddd;
      }
      // .fa:hover{
      //   background: #fd7700;
      // }
      .fa-twitter{
        color: #2bb6e9;
      }
      .fa-twitter:hover{
        background-color: #2bb6e9;
        color: #ddd;
      }
      .fa-youtube{
        color: #d9292c;
      }
      .fa-youtube:hover{
        background: #d9292c;
        color: #ddd
      }
      .fa-linkedin{
        color: #0079b6;
      }
      .fa-linkedin:hover{
        color: #ddd;
        background-color: #0079b6;
      }
      .fa-facebook{
        color: #435f9d;
      }
      .fa-facebook:hover{
        background: #435f9d;
        color: #ddd;
      }
    }
    .twitter{
      margin-left: 5px;
      margin-right: 5px;
    }
    .linkedin{
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

//--------------Media Queries--------------------//
@media screen and (max-width: 1200px) {
  .pages{
    .jumbotron{
      .pages-search {
        ul{
          width: 60%;
          margin: auto;
          .nav-tabs{
            margin: auto;
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .pages{
    .jumbotron{
      .pages-search {
        ul{
          width: 70%;
          margin: auto;
          .nav-tabs{
            margin: auto;
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .pages{
    .jumbotron{
      .pages-search {
        ul{
          width: 85%;
          margin: auto;
          .nav-tabs{
            margin: auto;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .pages{
    .jumbotron{
      .pages-search {
        ul{
          width: 90%;
          margin: auto;
          .nav-tabs{
            margin: auto;
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .pages{
    .jumbotron{
      .pages-search {
        ul{
          width: 80%;
          margin: auto;
          .nav-tabs{
            margin: auto;
            text-align: center;
          }
        }
      }
    }
  }
}