// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font";

@font-face { 
  font-family: 'JobInboxFont6';
  src: url('font/optotypo-regular-webfont.eot');
  src: url('font/optotypo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/optotypo-regular-webfont.ttf'),
       url('font/optotypo-regular-webfont.woff') format('woff'),
       url('font/optotypo-regular-webfont.woff2') format('woff2');
}

@font-face { 
  font-family: 'JobInboxFont8';
  src: url('font/Swindale-RG.eot');
  src: url('font/swindale-rg-webfont.ttf'),
       url('font/swindale-rg-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/swindale-rg-webfont.woff') format('woff'),
       url('font/swindale-rg-webfont.woff2') format('woff2');       
}

@font-face { 
  font-family: 'JobInboxFont7';
  src: url('font/QuincyCF-Black-webfont.eot');
  src: url('font/QuincyCF-Black-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/QuincyCF-Black-webfont.ttf'),
       url('font/QuincyCF-Black-webfont.svg'),
       url('font/QuincyCF-Black-webfont.woff') format('woff'),
       url('font/QuincyCF-Black-webfont.woff2') format('woff2');
       
       
}

html, body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: JobInboxFont8, Arial, sans-serif;
  //font-family: Menlo,Monaco, Consolas, "Courier New", monospace;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #4c4c4e;
 
}
h1, h2, h3, th {
  font-family: JobInboxFont8, Arial, sans-serif;
  font-weight: 900;
  /*font-weight: bolder;*/
}
h1 {
  font-size: 55px;
  line-height: 50px;
}
h2 {
  margin-bottom: 12px;
  font-size: 18px;
}
.body{
  background-color: #eaeaea;
  font-family: JobInboxFont8, Arial, sans-serif;
  font-size: 16px;
  // margin:0;
  // padding:0;
  // width: 100%;
  // min-height: 100%;
  // position: relative;
  // left: 0;
  // right: 0;
  // height: auto !important;
  // height: 100%;
  // padding-bottom: 50px;
  //font-family: Menlo,Monaco, Consolas, "Courier New", monospace;
}
main{
  margin-top: 120px;
  width: 100%;
  min-height:100%;
  position:relative;
  left: 0;
  right: 0;
  height: auto !important;
  height: 100%;
  padding-bottom: 50px;
  
}
//---------------header----------------------------

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
  background-color: #fd7700;
  font-family: JobInboxFont8, Arial, sans-serif;
  .logo img{
    width: 250px;
    height: 60px;
    padding-top: 10px;
    margin-left: -20px;
  }
  span{
    color: #15A3B3;
    font-size: 1.7em;
    font-weight: bolder;
  }
  .btn{
    padding: 10px;
    margin-top: 12px;
    color: #fff;
    font-weight: 900;
  }
  .btn-default{
    color: #fd7700;
  }
}

.navbar{
  margin-top: 70px;
}

.navbar-inverse .navbar-toggle {
  border-color: #fd7700;
  background: #fd7700;
  font-family: JobInboxFont8, Arial, sans-serif;
}
.navbar-inverse .navbar-toggle:hover {
  border-color: green;
  background: green;
}
.navbar-inverse .navbar-toggle:active {
  border-color: #fd7700;
  background: #fd7700;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #fd7700;
  color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #fd7700;
}
.navbar-inverse {
  background-color: #fff;
  border-color: #ddd;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #ddd;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fd7700;
  font-weight: 900;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #000;
}
.navbar-inverse .navbar-brand:hover {
  color: #000;
}
.nav-search-form{
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 35px;
}
  .btn{
    width: auto;
    margin-left: -6px;
    height: 35px;
  }
}

//-------------- Candidate Styles-------------------------------------//
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: #fd7700;
	border-color: #fd7700;
}
img{
	width: 100%;
}
.image_menu{
	width: 20px;
	height: 20px;
}
.image_edit_profile{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    //background-color: #fff;
    //border: 1px solid #fff;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #fd7700;
    font-size: 18px;
}
.right-nav-job{
  // background-color: #5cb85c;
  // color: #fff;
  
  background: -webkit-linear-gradient(90deg, #52c234 10%, #061700 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #52c234 10%, #061700 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #52c234 10%, #061700 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #52c234 10%, #061700 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #52c234 10%, #061700 90%); /* W3C */
 }       
h2 > a:hover, footer .bottom a:hover, .employer-head a:hover{
  background: none;
  //text-decoration: none;
}
.employer-head a:hover{
  color:#fd7700;
}
.candidate-main-show{
  width: 100%;
  margin: 0;
  padding: 0;
  .candidate-content{
    margin-top: 20px;
    .well{
      background-color: #f1f2f4;
    }
  }
}
.candidate-show{
  .fa{
    padding-right: 10px;
    color: green;
    font-size: 13px;
  }
}

select{
    
    font-size: 30px;
    line-height: inherit;
    height: 50px;
  }
  .profile-education{
    margin-top: 30px;
    .well{
      background-color: #fd7700;
      h2{
        font-weight: 900;
        span{
          color: red;
        }
      p{
        margin-top: -40px;
        font-size: 10px;
      }
      }
    }
  }
//-----------------Edit Form-----------------------------------//

.edit-works{
  .edit-form{
    margin-top: 5%;
  }
  .well{
    background-color: #F1EAE0; 
  }
  h2{
    margin: 20px auto 30px;
    font-weight: 900;
    font-size: 25px;
  }
}
//-------------------------Pages---------------------------------//
.pages{
  .jumbotron{
    width: 100%;
    height: 500px;
    background-image: url('https://s3.amazonaws.com/inventivelabs/jobinbox/imgs/tech-peep.jpg');
    background-size: cover;
    text-align: center;
    h1{
      color: #fff;
      font-weight: 900;
    }
  }
}
//--------------------Candidates----------------------------//
.candidate-new{
  width: 100%;
  height: 100%;
  padding: 40px auto;
  background-image:url('https://s3.amazonaws.com/inventivelabs/jobinbox/imgs/tech-peep.jpg');
  background-size: cover;
  color: #fff;
  h1{
    margin-top: 10%;
    font-weight: 900;
    // font-size: 28px;
  }
}
//--------------------Employers----------------------------//

.employers{
  .jumbotron{
    width: 100%;
    height: 500px;
    background-color: #ddd;
  }
}
.employer-new{
  width: 100%;
  height: 100%;
  padding: 40px auto;
  background:#ece4de;
  color: #000;
  .employer-text{
    margin: 5% auto;
    h1{
      font-weight: 900;
    }
    p{
      font-weight: 400;
      font-size: 16px;
    }
  }
}
.employers-main{
  h2{
    margin-bottom: -12px;
    a{
      color: #fd7700;
    }
  }
}
.employer-jobs{
  h2{
    margin-bottom: 1px;
    a{
      color: green;
    }
  }
}
.employer-show{
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
  color: #000;
  
  bottom: 0;
  padding: 20px;
  img{
    margin-top: 20px;
  }
  .profile-image img{
    border-radius: 50%;
    
  }

}

//------------------------JOBS----------------------------//
.job_home{
  margin-top: 20px;
  .well{
    background: #ddd;
    padding: 15px;
    .job-title{

    }
    img{
    float:left;
    width: 80px;
    height: 80px;
    padding-right: 10px;
    }
  }
  
}
.navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 55px;
}
.page-search-form{
  width: 80%;
  margin: 40px auto;
  .form-control{
    width: 60%;
  }
  .btn{
    width: auto;
    margin-left: -6px;
    height: 55px;
  }
}
//----------------------session------------------------------//
.login-form{
  .well{
    background: #fff;
    .nav-tabs{
      border-bottom: 1px solid #fff;
    }
  }
}
//----------------------footer-------------------------------//
footer{
  width: 100%;
  margin-bottom: 0;
  clear: both;
  bottom: 0;
  left: 0;
  border-top: 2px solid #ddd;
  font-family: JobInboxFont8, Arial, sans-serif;
  .footer{
  padding: 50px auto;
  color: #afafaf;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 16px;
  }
  .bottom{
    font-family: JobInboxFont8, Arial, sans-serif;
    color: #afafaf;
    bottom: 0;
    padding: 20px;

    p{
      font-size: 17px;
      a{
      color: #fd7700;
      }
      .fa{
        color: #fd7700;
      }
    }
    
  }
}
