<div class="container">
<div class='row project_post'>
<div class='col-sm-1'></div>
<div class='col-sm-10'>
 <div class="well">
<h2>New Insight </h2>

<%= render 'form' %>
</div></div>
<div class='col-sm-1'></div>
</div></div>