<div class="container">
  <div class='row'>
    <div class='col-sm-9'>
      <div class="well">
        <h2><%= link_to @insight.title %></h2>
        <p><%=  @insight.content %></p>
        <p><%= link_to @insight.source_url, @insight.source_url %></p>
        
      </div>
    </div>
    <div class='col-sm-3'></div>
  </div>
</div>
