<footer>
  <div class='footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-3'>
          As your qualified candidates roll in, we make it easy to screen & rate them, allowing you to make the best hiring decisions for your business.
        </div>
        <div class='col-sm-3'>
          As your qualified candidates roll in, we make it easy to screen & rate them, allowing you to make the best hiring decisions for your business.
        </div>
        <div class='col-sm-3'>
          As your qualified candidates roll in, we make it easy to screen & rate them, allowing you to make the best hiring decisions for your business.
        </div>
        <div class='col-sm-3'>
          As your qualified candidates roll in, we make it easy to screen & rate them, allowing you to make the best hiring decisions for your business.
        </div>
      </div>
    </div>
  </div>
  
  <div class='bottom text-center'>
    <p>Copyright &copy; 2015 Job-Inbox. All right reserved</p>
    <p>Made with <i class='fa fa-heart'></i> at <a href='http://inventivelabs.co' target='_blank'>Inventive Labs</a></p>
  </div>
</footer>